<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Huat Ah</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="script.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">My Logo</div>
    </header>
    <main>
      <div class="bet-container">
        <% results.forEach((result) => { %>
        <div class="bet">
          <div class="main-bet">
            <img src="/img/<%= result.type %>.jpg" />
            <div class="match-name">
              <h2><%= result.match_name %></h2>
            </div>
            <button class="expand">&darr;</button>
          </div>
          <div class="detail-bet hidden">
            <% result.bet_list.forEach((el) => { %>
            <button class="confirm-bet">
              <span class="bet-name"><%= el.name %></span>
              <span class="odds"><%= el.odds %></span>
            </button>
            <% }) %>
          </div>
        </div>
        <% }) %>
      </div>
      <div class="right">
        <form action="/" method="POST" class="form">
          <input type="text" name="firstName" value="" />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <div class="final-step">
          <form action="/" method="POST" class="final-bet">
            <h1>Team1 vs Team2</h1>
            <h1>You're betting on Team1 Winner</h1>
            <label>Username</label>
            <input type="text" name="username" value="">
            <label>Bet Amount</label>
            <input type="number" name="betamount" value="">
            <div class="button-container">
              <button class="cancel">Cancel</button>
              <button type="Submit" class="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
