@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins&display=swap");

:root {
  --red: rgba(237, 23, 3, 100%);
  --yellow: #ffd83b;
  --brown: #763a12;
  --darkblue: #0b486b;
  --black: #1d1d27;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: Poppins;
}

/* HEADER SECTION */

header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  left: 0;
  bottom: 0;
}

header > a > img {
  width: 150px;
  display: block;
}

header > form {
  display: inline-block;
  width: 25%;
  display: flex;
  align-items: center;
  position: relative;
}

header > form > input {
  width: 100%;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 20px;
  border: 2px solid black;
  outline: none;
}

header > form > input:focus,
header > form > input:active {
  border: 2px solid var(--red);
}

header > form > button {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 15px;
}

header > form > button:hover {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@media (max-width: 1200px) {
  header > form {
    width: 33%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1rem;
  }
  header > form {
    width: 37%;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0.3rem;
  }
  header > form {
    width: 37%;
  }
}

/*CONTAINER NAV*/

nav {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

nav::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--black);
}

nav > label {
  width: 100%;
  height: 100%;
  line-height: 60px;
  border-radius: 5px;
  margin: 0 5px;
  color: var(--black);
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 700;
  font-size: clamp(16px, 1.25vw, 24px);
}

.slider {
  position: absolute;
  height: 100%;
  background: none;
  left: 0;
  top: 0;
  transition: 0.45s ease;
  z-index: -1;
}

.NBAachors,
.Socceranchors,
.Dota2anchors,
.CSGOanchors,
.Valorantanchors,
.Balanceanchors,
.Activeanchors {
  transition-delay: 400ms;
}

#NBA:checked ~ nav label.NBAanchors {
  color: white;
}
#NBA:checked ~ nav > .slider {
  background: var(--red);
}

#Soccer:checked ~ nav > label.Socceranchors {
  color: white;
}
#Soccer:checked ~ nav > .slider {
  left: 20%;
}
#Soccer:checked ~ nav > .slider {
  background: var(--red);
}

#Dota2:checked ~ nav > label.Dota2anchors {
  color: white;
}
#Dota2:checked ~ nav > .slider {
  left: 40%;
}
#Dota2:checked ~ nav > .slider {
  background: var(--red);
}

#CSGO:checked ~ nav > label.CSGOanchors {
  color: white;
}
#CSGO:checked ~ nav > .slider {
  left: 60%;
}
#CSGO:checked ~ nav > .slider {
  background: var(--red);
}

#Valorant:checked ~ nav > label.Valorantanchors {
  color: white;
}
#Valorant:checked ~ nav > .slider {
  left: 80%;
  background: var(--red);
}
#Summary:checked ~ nav > .slider {
  left: 0%;
  background: var(--red);
}
#Active-Bets:checked ~ nav > .slider {
  left: 50%;
  background: var(--red);
}

input[type="radio"] {
  display: none;
}

@media (max-width: 768px) {
}

/* MAIN SECTION */

main {
  padding-inline: 10%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/logo_red.png");
  background-color: white;
  background-position: center;
  background-size: 750px auto;
  background-repeat: no-repeat;
  min-height: 65vh;
}

[data-status="inactive"] {
  display: none;
}

@media (max-width: 768px) {
  main {
    padding-inline: 7.5%;
    min-height: 70vh;
  }
}
@media (max-width: 480px) {
  main {
    padding-inline: 5%;
  }
}

/* BET CONTAINER */

.bet-container {
  padding-block: 1rem;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  font-weight: 700;
  font-size: clamp(16px, 1.67vw, 24px);
  color: white;
}

.bet {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--black);
  border: 2px solid var(--red);
  border-radius: 10px;
  padding-inline: 1.5rem;
  outline: none;
  padding-block: 3%;
  transition: all 400ms ease-in-out;
}

.bet:hover {
  opacity: 1;
}

.main-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-bet > img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.match-name-container {
  text-align: center;
  margin-inline: 0.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.match-name-container > img {
  width: 100px;
  display: block;
}

.detail-bet {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 8px;
  place-items: center;
  font-size: clamp(10px, 1.11vw, 16px);
  font-weight: 700;
}

.confirm-bet {
  width: clamp(125px, 13.9vw, 200px);
  border-radius: 16px;
  background: white;
  border: 2px solid var(--red);
  color: var(--red);
  transition: all 300ms ease-in-out;
}

.confirm-bet:hover {
  color: white;
  background: var(--red);
  outline: none;
  border: 2px solid white;
}

.odds {
  display: block;
}

.odds > span {
  color: var(--black);
}

.hidden {
  display: none;
}

@media (max-width: 1440px) {
  .bet-container::after {
    right: calc(-12.5% - 2.5rem);
  }
}

@media (max-width: 1200px) {
  .bet-container::after {
    right: calc(-12.5% - 2rem);
  }
}

@media (max-width: 1024px) {
  .bet-container {
    width: 80%;
    margin: 0 auto;
  }
  .bet-container::after {
    right: calc(-10.5% - 1rem);
  }

  .match-name-container > img {
    display: none;
  }
}

@media (max-width: 768px) {
  .bet-container {
    width: 85%;
    margin: 0 auto;
  }
  .bet-container {
    font-size: clamp(14px, 2.08vw, 16px);
  }

  .bet-container::after {
    right: calc(-11.5%);
  }
  .main-index {
    grid-template-columns: 2fr 1fr;
  }
  .bet {
    padding-inline: 0.75rem;
  }
  .main-bet > img {
    width: 50px;
    height: 50px;
  }

  .detail-bet {
    font-size: clamp(10px, 1.3vw, 12px);
    grid-row-gap: 4px;
    grid-column-gap: 4px;
  }

  .confirm-bet {
    width: clamp(100px, 16.3vw, 125px);
    border-radius: 10px;
  }
}

@media (max-width: 680px) {
  .bet {
    padding-inline: 0.5rem;
  }
  .bet-container {
    width: 90%;
  }

  .bet-container::after {
    right: calc(-8%);
  }
}

/* right */
.hidden {
  display: none;
}

.right {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  padding-inline: 3rem;
  padding-block: calc(3rem + 35px);
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  box-shadow: -64px -1px 218px 73px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -64px -1px 218px 73px rgba(0, 0, 0, 1);
  -moz-box-shadow: -64px -1px 218px 73px rgba(0, 0, 0, 1);
}

.right > svg {
  position: fixed;
  top: 2%;
  right: 2%;
  color: var(--black);
}

.right > svg:hover {
  cursor: pointer;
  color: var(--red);
}

.hidden {
  display: none;
}

.final-step {
  background: var(--black);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 5px;
  font-size: clamp(10px, 2.08vw, 16px);
  font-weight: 700;
}

.final-bet > input:nth-child(1),
.final-bet > input:nth-child(2) {
  text-align: center;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  color: white;
}

.final-bet > h1 {
  margin-bottom: 10px;
  text-align: center;
}

.final-bet > h1 > input {
  color: var(--red);
  display: inline;
  border: 0;
  text-align: center;
  background: none;
}

.final-bet label {
  display: inline-block;
}

.final-bet input {
  width: 100%;
  outline: none;
}

.final-bet button {
  margin-top: 5px;
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 10px;
  background: white;
  outline: none;
  cursor: pointer;
}

.final-bet .cancel {
  border: none;
  color: var(--red);
}

.final-bet .submit {
  border: 2px solid var(--red);
  color: var(--red);
}

.final-bet button:hover {
  background: var(--red);
  color: white;
}

@media (max-width: 1200px) {
  .right {
    width: 37.5%;
    padding-inline: 2rem;
  }
}

@media (max-width: 768px) {
  .right {
    width: 50%;
    padding-inline: 1rem;
  }
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background: var(--black);
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  width: 150px;
  height: 150px;
}

.logo > img {
  display: block;
  width: 100%;
}

.right-footer {
  display: flex;
  gap: 30px;
}

.right-footer > i:hover {
  color: var(--red);
}

@media (max-width: 768px) {
  footer {
    padding: 1.5rem 4.5rem;
    font-size: 15px;
  }

  .left-footer {
    gap: 10px;
  }

  .logo {
    width: 120px;
    height: 120px;
  }

  .right-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 1rem 3rem;
    font-size: 15px;
  }

  .left-footer > p > span {
    display: block;
  }
}

/* search-content */

.search-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* search-balance */

/* .search-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search-balance > h1 {
  color: var(--black);
  margin-top: 10px;
  font-size: 32px;
}

.balance-summary,
.past-bet {
  width: 100%;
  padding: 10px;
  background: var(--black);
  border: 2px solid var(--red);
  display: flex;
  flex-direction: column;

  color: white;
} */

/* search-active-bets */

.search-active-bets,
.search-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search-active-bets > h1,
.search-balance > h1 {
  color: var(--black);
  margin-top: 10px;
  font-size: 32px;
}

.active-bets,
.past-bet,
.balance-summary {
  width: 100%;
  padding: 10px;
  background: var(--black);
  border: 2px solid var(--red);
  display: flex;
  flex-direction: column;

  color: white;
}

.active-bets-details,
.past-bets-details {
  display: flex;
  justify-content: space-between;
}

.active-bets-details > h3 > span,
.past-bets-details > h3 > span {
  color: var(--red);
}

.potential > h3 > span,
.result > h3 > span {
  font-size: 20px;
  color: #dbff33;
  animation: blinking 2s infinite;
}

@keyframes blinking {
  0% {
    color: #dbff33;
  }

  50% {
    color: #75ff33;
  }

  100% {
    color: #dbff33;
  }
}

@media (max-width: 1200px) {
  .main-search {
    width: 80%;
  }

  .active-bets-details,
  .past-bets-details {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .main-search {
    width: 85%;
  }

  .search-active-bets > h1,
  .search-balance > h1 {
    font-size: 24px;
  }

  .active-bets,
  .past-bet {
    font-size: 12px;
  }

  .potential > h3 > span,
  .result > h3 > span {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .main-search {
    width: 90%;
  }
  .active-bets,
  .past-bet {
    font-size: 10px;
  }
  .potential > h3 > span,
  .result > h3 > span {
    font-size: 12px;
  }
}
